.activity {
    /* display: flex; */
    background-color: #202028;
    color: white;
    margin: 10px;
    margin-top: 30px;
    height: 55vh;
    flex: 3;
    padding: 10px;
    border-radius: 10px;
  }

  .activity-title {
    margin: 10px;
    font-size: 16pt;
    font-weight: 700;
  }

  .chart{
    margin-top: 10px;
  }