.info-card {
  background-color: #202028;
  margin: 10px;
  width: 95%;
  height: 60vh;
  flex: 2;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
}

.info-card-list {
  display: flex;
  flex-direction: column;
}

.info-card-item {
  margin: 15px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-card-icon {
  font-size: 10pt;
  width: 60px;
  height: 60px;
  background-color: #444548;
  /* margin: 10px 0; */
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
}

.small {
  font-size: 15px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.info-card-item-text {
  font-size: 15pt;
  font-weight: 500;
  margin-left: 40px;
  cursor: pointer;
}

.goal {
  color: #f2732c;
  background-color: #5f3237;
}

.popular-dishes {
  color: #7c95ef;
  background-color: #293368;
}

.menu {
  color: #49a0be;
  background-color: #214a60;
}

@media (max-width: 768px) {
  .info-card {
    width: 95%; 
    height: auto; 
    padding: 5px; 
  }

  .info-card-item {
    margin: 10px; 
    padding: 10px; 
    flex-direction: row; 
    align-items: center; 
  }

  .info-card-item-text {
    font-size: 14pt; 
    margin-left: 10px; 
  }

  .info-card-icon {
    font-size: 12pt; 
    width: 50px;
    height: 50px; 
    align-items: center;
  }

  .small {
    font-size: 12px;
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 480px) {
  .info-card {
    width: 95%; 
    height: auto; 
    padding: 5px; 
  }

  .info-card-item {
    margin: 5px; 
    padding: 8px; 
    flex-direction: row; 
    align-items: center; 
  }

  .info-card-item-text {
    font-size: 12pt; 
    margin-left: 5px; 
  }

  .info-card-icon {
    font-size: 10pt; 
    width: 40px;
    height: 40px; 
    align-items: center;
  }

  .small {
    font-size: 10px;
    width: 20px;
    height: 20px; 
  }
}
