
.search-input {
  background-color: #3e3f4b;
  border: none;
  padding: 8px;
  border-radius: 5px;
  color: white;
  margin-left: 10vh;
}

.header-icons {
  display: flex;
  align-items: center;
}

.icon,
.profile-pic {
  width: 30px;
  height: 30px;
  background-color: #3e3f4b;
  margin-left: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 50px;
}

.highlight{
  color: #7393fc !important;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 10px; 
  }

  .search-input {
    width: 100px; 
    margin-right: 5px; 
  }

  .header-icons {
    gap: 5px; 
  }

  .icon,
  .profile-pic {
    width: 25px;
    height: 25px; 
  }
}