body,
html {
  margin: 0;
  padding: 0;
  /* height: 100%;
  width: 100%; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logo {
  position: fixed;
  top: 10px; 
  left: 10px;
  z-index: 2;
}

.logo img {
  margin: 5px;
  width: 3vw; /* Adjust the size as needed */
  height: 6vh; /* Maintain the aspect ratio */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #202028;
  height: 10vh;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.main-content {
  position: fixed;
  /* padding-top: 10px; */
  display: flex;
  flex: 1;
  margin-top: 10vh;
  height: calc(100vh - 10vh);
  overflow: hidden;
}

.dashboard {
  width: 100vw;
}

.sidebar {
  width: 5vw;
  height: calc(100vh - 10vh);
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 10px;
  }

  .sidebar {
    width: 15vw;
  }

  .main-content {
    flex-direction: row;
  }

  .dashboard {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .navbar {
    /* flex-direction: column; */
    width: 100vw;
    height: 10vh;
    /* padding: 5px; */
  }

  .sidebar {
    width: 15vw;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
  }

  .main-content {
    flex-direction: row;
    height: calc(100vh - 10vh);
    /* margin-top: 20vh; */
  }

  .dashboard {
    width: 100%;
    padding: 10px;
  }
}
