body,
html {
  margin: 0;
  padding: 0;
  /* height: 100%;
  width: 100%; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logo {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.logo img {
  margin: 5px;
  width: 3vw; 
  height: 6vh; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #202028;
  height: 10vh;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.main-content {
  position: fixed;
  /* padding-top: 10px; */
  display: flex;
  flex: 1;
  margin-top: 10vh;
  width: 100%;
  height: calc(100vh - 10vh);
  overflow: hidden;
}

.dashboard {
  width: 100vw;
}

.sidebar {
  width: 5vw;
  height: calc(100vh - 10vh);
}

@media (max-width: 768px) {
  .logo img {
    width: 10vw; 
    height: 8vh; 
  }

  .sidebar {
    width: 20vw; 
  }

  .dashboard {
    width: 80vw; 
  }
}

@media (max-width: 480px) {
  .logo img {
    margin-left: 10px;
    width: 11vw;
    height: 5vh;
  }

  .sidebar {
    width: 20vw; 
    height: auto; 
    position: relative; 
    z-index: 1; 
  }

  .main-content {
    flex-direction: row;
    height: calc(100vh - 8vh);
    margin-top: 8vh; 
  }

  .dashboard {
    width: 80vw; 
    padding: 10px;
    overflow-x: hidden; 
  }

  .navbar {
    height: 8vh; 
  }
}
